$text-color: #000000;
$accent-color: #fe8240;
$background-color: #a7bdbd;
$border-color: #2a3b3b;
$form-border-color: rgba(33, 33, 33, 0.2);
$overlay-color: rgba(111, 111, 114, 0.8);
$shadow-color: #8c8c8c;
$transition-duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
