.backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $overlay-color;
  transform: scale(1);

  transition: opacity $transition-duration $timing-function;
}

.backdrop--hidden {
  opacity: 0;
  pointer-events: none;

  & .modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  padding: 15px;
  border-radius: 4px;
  box-shadow: 8px -6px 16px -2px $shadow-color;

  background-color: $background-color;
  transform: translate(-50%, -50%) scale(1);
  transition: transform $transition-duration $timing-function;

  &__title {
    visibility: hidden;
    font-size: 0;
  }
}

@media screen and (min-width: 480px) {
  .modal {
    max-width: 450px;
    height: 609px;
  }
}
.button--close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid $text-color;
  border-radius: 50%;
  cursor: pointer;

  &__icon {
    position: absolute;
    width: 11px;
    height: 11px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: $text-color;
    transition: fill $transition-duration $timing-function;
  }

  &:hover,
  &:focus {
    border-color: $accent-color;
  }
}
